doctype
html( lang="en" )
		head
				title File Metadata
				meta( charset='utf-8' )
				meta( http-equiv='X-UA-Compatible', content='IE=edge' )
				meta( name='viewport', content='width=device-width, initial-scale=1.0' )
				meta( name='description', content='File Metadata API' )
				//- Bootswatch Theme
				link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
				link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+", crossorigin="anonymous")
				
		body(style="padding-bottom:10rem;")
				.container
						.row.text-center
								.col-md-12
										h1 File Metadata API Service
										hr
						.row.text-center
								.col-md-12
										h1 Instructions:
										h1 Upload a file below to get back the filesize
										form(method="post",enctype="multipart/form-data")
											button.btn.btn-success
												input(type="file",name="upl")
											hr
											p
												input(type="submit", id="sendIt")
										div.loading
										
										
										
				script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )							
				script.
						$(document).ready(function(){
						$('form').on('submit', function(e){

								$('.loading').html('<i class="fa fa-cog fa-spin" style="font-size:50px"></i>')
						
								$.ajax( {
									url: '/api/filemetadata',
									type: 'POST',
									data: new FormData( this ),
									processData: false,
									contentType: false
								})
								.done(function(data) {
										$('.loading').html("")
										console.log(data.size); 
										alert("Filesize: " + data.size);
		
								});;
								e.preventDefault();
								e.stopPropagation();

							})
						})
			
				script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )