doctype
html( lang="en" )
    head
        title TimeStamp
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='TimeStamp API' )
        //- Bootswatch Theme
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
 
    body(style="padding-bottom:10rem;")
        .container
            .row.text-center
                .col-md-12
                    h1 TimeStamp API Service
                    hr
            .row.text-center
                .col-md-12
                    h1 Instructions:
                    h1 Follow the url with a valid date (spaces can be included as well)
                    code /November 20th 2015
                    
                    
                    
 
        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )